package desk

import (
	"newser.app/model"
	"newser.app/view/component"
	"newser.app/view/layout"
)

templ Newsfeed(feed *model.Newsfeed) {
	@layout.Desk() {
		<div class="container stack">
			if len(feed.Articles) > 0 {
				<ul class="card-list">
					for _, article := range feed.Articles {
						@component.ArticleCard(article)
					}
				</ul>
			}
		</div>
	}
}
