package home

import "newser.app/view/layout"

templ Index() {
	@layout.Base() {
		<main>
			@HomePageContent()
		</main>
	}
}

templ HomePageContent() {
	<div class="container">
		<h2>Home</h2>
	</div>
}
