package app

import (
	"newser.app/internal/dto"
	"newser.app/view/component"
	"newser.app/view/layout"
)

templ Feed(newsfeed *dto.NewsfeedDTO) {
	@layout.App() {
		@FeedPageContent(newsfeed)
	}
}

templ FeedPageContent(newsfeed *dto.NewsfeedDTO) {
	@component.ListHeader()
	<div
		class="container stack"
		id="articles"
	>
		// hx-ext="debug"
		@component.ArticleList(newsfeed.Articles)
	</div>
}
