package layout

import (
	"newser.app/internal/shared/view/component"
)

templ App() {
	@Base() {
		<div class="grid-container">
			@component.MainSidebar()
			<main>
				{ children... }
			</main>
			@component.SecondarySidebar()
		</div>
	}
}
