package component

import "current/view"
import "github.com/mmcdole/gofeed"

templ SearchResult(feeds []*gofeed.Feed) {
	if len(feeds) > 0 {
		<h2>We found { view.GetLen(feeds) } feeds</h2>
		<ul class={ feedPreviewList() }>
			for _, feed := range feeds {
				@FeedPreview(feed)
			}
		</ul>
	}
}

css feedPreviewList() {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
