package component

templ SecondarySidebar() {
	<aside class="sidebar" id="sidebar-secondary">
		<div class="sidebar-section">
			<h3>TODO</h3>
			<p>Additional feed information here</p>
		</div>
	</aside>
}
