package note

import (
	"newser.app/view/component"
	"newser.app/view/layout"
)

templ Index() {
	@layout.App() {
		@IndexPageContent()
	}
}

templ IndexPageContent() {
	@component.NotesHeader()
}

// 94 122
// 104 540
// 106 798
