package search

import (
	"current/view"
	"current/view/component"
	"current/view/layout"
)

templ Index(props view.SearchPageProps) {
	@layout.Base() {
		<h1>Search</h1>
		<form action="/search" method="POST">
			<fieldset>
				<label for="searchurl">Search for a Feed</label>
				<input type="text" name="searchurl" id="search-url"/>
			</fieldset>
			if props.Error != "" {
				<span class="error">{ props.Error }</span>
			}
		</form>
		@component.SearchResult(props.Feeds)
	}
}
