package layout

import "current/view/component"

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="/public/script/reload.js" type="module"></script>
			<title>Current</title>
		</head>
		<body>
			@component.Header()
			{ children... }
		</body>
	</html>
}
