package layout

import (
	"newser.app/view/component"
)

templ Desk() {
	@Base() {
		<div class="grid-container">
			@component.MainSidebar()
			<main>
				{ children... }
			</main>
			<aside class="sidebar" id="sidebar-secondary">
				<div class="sidebar-section">
					<h3>Recent Posts</h3>
				</div>
			</aside>
		</div>
	}
}
