package layout

templ Desk() {
	@Base() {
		<aside class="sidebar" id="sidebar-main">
			<ul>
				<li>
					<a href="/desk/search">Search</a>
				</li>
			</ul>
		</aside>
		<main>
			{ children... }
		</main>
	}
}
